<ul class="col">
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
</ul>
<ul class="col">
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SAMPHIRE FRITTERS WITH FENNEL CEVICHE<small class="name__components"> fresh samphire, plain
            flour, cornflower, eggs, fennel</small></h3>
      <span class="price">12$</span>
   </li>
</ul>