<ul class="col">
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
</ul>
<ul class="col">
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
   <li class="menu__item">
      <h3 class="name">SMOKED RICOTTA TERRINE<small class="name__components">ricotta, shallots, cheddar,
            capers</small></h3>
      <span class="price">12$</span>
   </li>
</ul>