<section class="components">
   <div class="container">
      <div class="components__list">
         <div class="item item-1">
            <h3 class="item__title">Turnip greens</h3>
            <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
         </div>
         <div class="item item-2">
            <h3 class="item__title">Beetroot water</h3>
            <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
         </div>
         <div class="item item-3">
            <h3 class="item__title">GET SOCIAL</h3>
            <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
         </div>
      </div>
   </div>
</section>