<section class="contact">
   <div class="container">
      <div class="content">
         <h2 class="title contact__title">Contact</h2>
         <div class="cols contact__cols">
            <div class="col contact__col">
               <h3 class="col__title">Veggie </h3>
               <p class="address">3428 Magnolia Avenue Hackettstown, NJ 07840</p>
            </div>
            <div class="col contact__col">
               <h3 class="col__title">Reservations</h3>
               <ul class="contacts">
                  <li class="contacts__item"><a href="mailto:reservations@vegggie.com" class="link">reservations@vegggie.com</a></li>
                  <li class="contacts__item"><a href="tel:+482025550114" class="link">+48 202-555-0114</a></li>
               </ul>
            </div>
         </div>
         <h3 class="contact__form">Contact form</h3>
         <form class="form" action="">
            <input class="form__input form__input--name" type="text" name="name" placeholder="Name">
            <input class="form__input form__input--email" type="email" name="email" placeholder="Email">
            <textarea class="form__input form__input--message" name="message" placeholder="Message" rows="1"></textarea>
            <button class="button" type="submit">Send</button>
         </form>
         <div class="social">
            <a href="" class="social__item"><i class="icon icon-fb"></i></a>
            <a href="" class="social__item"><i class="icon icon-insta"></i></a>
         </div>
      </div>
   </div>
</section>