<section class="menu">
      <div class="container">
            <h1 class="title menu__title">Menu</h1>
            <ul class="menu__tabs">
                  <li class="list list--active"><a class="link js_tab-link" href="#startest">Startest</a></li>
                  <li class="list"><a class="link js_tab-link" href="#main-dishes">Main Dishes</a></li>
                  <li class="list"><a class="link js_tab-link" href="#dessert">Dessert</a></li>
                  <li class="list"><a class="link js_tab-link" href="#drinks">Drinks</a></li>
            </ul>
            <div class="menu__list menu__list--active js_menu-list" id="startest">
                  <!--=include menu-list/startest.html -->
            </div>
            <div class="menu__list js_menu-list" id="main-dishes">
                  <!--=include menu-list/main-dishes.html -->
            </div>
            <div class="menu__list js_menu-list" id="dessert">
                  <!--=include menu-list/dessert.html -->
            </div>
            <div class="menu__list js_menu-list" id="drinks">
                  <!--=include menu-list/drinks.html -->
            </div>
      </div>
</section>